In [1]:
import numpy as numpy
import pandas as pd

In [14]:
ratings = pd.read_csv('ratings.dat', sep="::", names=["u", "i", "rate", "time"])

/tmp/ipykernel_21420/1401959522.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_csv('ratings.dat', sep="::", names=["u", "i", "rate", "time"])

In [15]:
ratings[['u']].max()

u    6040
dtype: int64

In [16]:
ratings[['i']].max()

i    3952
dtype: int64

In [9]:
l = len(ratings)
ratings = ratings.sample(frac=1)

In [11]:
ratings = ratings[["u", "i"]]
ratings

           u     i
930990  5623  3210
157899  1015  3264
816242  4899   541
855769  5138  3396
924898  5587  1959
...      ...   ...
486196  2994  3434
617430  3737   608
639230  3842  2551
335703  1980   252
39215    265  1208

[1000209 rows x 2 columns]

In [12]:
user_item_train = ratings[:int(0.7*l)]
user_item_test = ratings[int(0.7*l):int(0.9*l)]
user_item_valid=ratings[int(0.9*l):]

In [13]:
user_item_train.to_csv("user_item_train.csv", sep="\t", header=False, index=False)
user_item_test.to_csv("user_item_test.csv", sep="\t", header=False, index=False)
user_item_valid.to_csv("user_item_valid.csv", sep="\t", header=False, index=False)